<body class="text-center">


  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" href="#"><%= image_tag "linkedin.png", width: 60, alt: "linkedin"%></a>
          <a class="nav-link" href="https://twitter.com/sujalpaudel17" target="_blank"><%= image_tag "twitter.png", width: 60, alt: "twitter"%></a>
          <a class="nav-link" href="#"><%= image_tag "facebook.png", width: 60, alt: "facebook"%></a>
          <a class="nav-link" href="#"><%= image_tag "github.png", width: 60, alt: "github"%></a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <h1 class="cover-heading">Sujal Paudel</h1>
      <p class="lead">Sometimes I call myself an Engineer, other times I just read,recite, 
        perform, watch, listen, compile, edit, promote, suggest, recommend and breathe the 
        aspects of Engineering. I am a Computer Enthusiast who tries to explore the potential
        of technology.I am involved in building Nepal's first High Performance Computer.</p>
      <div class = "circle">
        <%= image_tag"one.png", height: "100", width: "100", alt: "me" %>
        <script>rotateAnimation("img1",70);</script>
      </div>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p> <%= @copyright %></p>
      </div>
    </footer>
  </div>

